.header__logo {
  max-width: 120px;
  object-fit: contain;
  padding-right: 14px;
}

@media (max-width: 1100px) {
  .header__logo {
    max-width: 98px;
  }
}


@media (max-width: 600px) {
  .header__logo {
    max-width: 70px;
  }
}
