.header {
  display: flex;
  padding: 23px 88px 23px 64px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 1350px) {
  .header {
    padding: 23px 24px;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 8px 18px;
  }
}
