.header__burger {
  display: none;
  background-color: transparent;
  border: none;
  margin-left: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .header__burger {
    display: block;
  }
}
