.description__notries-help-title {
  color: black;
  margin: 120px 0 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

@media (max-width: 1000px) {
  .description__notries-help-title {
    font-size: 20px;
    line-height: 24px;
    margin: 77px 0 8px;
  }
}

@media (max-width: 400px) {
  .description__notries-help-title {
    font-size: 15px;
    line-height: 18px;
    margin: 41px 0 8px;
  }
}
