.property__image_type_ginger {
  width: 193px;
}

@media (max-width: 1100px) {
  .property__image_type_ginger {
    width: 135px;
  }
}

@media (max-width: 850px) {
  .property__image_type_ginger {
    width: 99px;
  }
}

@media (max-width: 600px) {
  .property__image_type_ginger {
    width: 135px;
  }
}
